$primary-color: #202124;
$white: #f7f7f7;
$hover-color: #d0818d;
$animate: all 0.3s ease-in-out 0s;
$primary-font: "Megrim", cursive;
$secondary-font: "Quicksand", sans-serif;
$first-letter: "Quattrocento Sans", sans-serif;

@mixin flexBox {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

@mixin animateUnderline {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background: $hover-color;
	visibility: hidden;
	transform: scaleX(0);
	transition: $animate;
}

@mixin curve {
	height: 150px;
	border-bottom: 4px solid #d0beaf;
	border-bottom-left-radius: 50% 40%;
	border-bottom-right-radius: 50% 40%;
	text-align: center;
}
