@import "./config";

.page-footer {
    position: fixed;
    background-color: $hover-color;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.developed-by {
    a {
        color: white;
        text-decoration: underline;
        &:hover {
            color: #202124;
        }
    }
}
