@import "./config";

.page-footer {
    position: absolute;
    background-color: $hover-color;
    height: 62px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease-in-out;
    padding: 20px;
}

.developed-by {
    a {
        color: white;
        text-decoration: underline;
        &:hover {
            color: #202124;
        }
    }
}
