@import "./config";

.img-container {
	position: relative;
}

.mobile-img {
	margin-top: 50px;
	width: 100%;
}

header {
	@include curve;
	position: relative;
}

@media (max-width: 768.98px) {
	header,
	.images {
		display: none;
	}

	.mobile-img {
		margin-top: 50px;
		display: block;
		width: 100%;
	}
}
