@import "./config";

.img-container {
	position: relative;
}

.mobile-img {
	display: none;
}

header {
	@include curve;
	position: relative;
}

.images {
	position: absolute;
	top: 110px;
	ul {
		@include flexBox;
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding: 0 1rem;
		}
		li:first-child{
			position: relative;
			bottom: 28px;
		}
		li:nth-child(2) {
			position: relative;
			bottom: 8px;
		}
		li:nth-child(4) {
			position: relative;
			bottom: 8px;
		}
		li:last-child {
			position: relative;
			bottom: 28px;
		}
		img {
			width: 100%;
		}
	}
}

@media (max-width: 768.98px) {

	header, .images {
		display: none;
	}

	.mobile-img {
		margin-top: 50px;
		display: block;
		width: 100%;
	}
}