@import "./config";

.special-font {
	font-family: $special-font;
	font-size: 60px;
	margin: 10px 0 5px 0;
	span {
		font-family: $special-font;
	}
}

.body-text {
	font-family: $secondary-font;
	font-size: 24px;
}

@media (max-width: 576.98px) {
	.special-font {
		font-size: 40px;
		padding: 1rem 0;
		margin-left: 0;
	}

	.body-text {
		font-size: 18px;
	}
}
