@import "./config";

.nav-container {
	.nav-bar {
		font-family: $primary-font;
	}
	.nav-links {
		font-family: $secondary-font;
	}
}

.nav-bar {
	height: 80px;
	background-color: $primary-color;
	color: $white;
	@include flexBox;
	span {
		font-size: 2rem;
	}
}

.nav-links {
	height: 50px;
	background-color: $primary-color;
	color: $white;
	ul {
		margin: 0;
		list-style: none;
		@include flexBox;
		padding: 0.5rem;
	}
	ul li {
		&:nth-child(2) {
			&::first-letter {
				font-family: $first-letter;
			}
		}
	}
	ul li a {
		// color: $white;
		background: -webkit-linear-gradient(#D0818D, #CAA472);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding: 0 0.5rem;
		font-size: 1.2rem;
		position: relative;
		text-decoration: none;
		&::before {
			@include animateUnderline;
		}
		&:hover::before {
			visibility: visible;
			transform: scaleX(1);
		}
		&:hover {
			color: $hover-color;
			transition: $animate;
		}
	}
	.is-active {
		color: $hover-color;
	}
}
