@import "./config";

form {
	margin: 30px auto 10px;
	text-align: center;
	input {
		height: 0;
		width: 0;
		opacity: 0;
	}
	i {
		cursor: pointer;
		color: #4e4e4e;
		&:hover {
			color: $hover-color;
			transition: $animate;
		}
	}
}

.progress-bar {
	background-color: #8dbf4270;
	height: 5px;
	border-radius: 10px;
	margin-top: 20px;
}

.img-grid {
	margin: 20px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
}

.img-wrap {
	overflow: hidden;
	height: 0;
	padding: 50% 0;
	position: relative;
	opacity: 0.8;
	img {
		min-width: 100%;
		min-height: 100%;
		max-width: 125%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.back-drop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	img {
		position: relative;
		top: 50px;
		display: block;
		max-width: 60%;
		max-height: 80%;
		margin: 60px auto;
		box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
		border: 8px solid $white;
	}
}
/* base styles & title */
.title h2,
.title p {
	text-align: center;
}
.title h2 {
	margin-top: 60px;
	font-size: 2.6rem;
}

@media (max-width: 575.98px) {
	.img-grid {
		margin: 20px auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
	}

	.back-drop img {
		max-width: 90%;
	}
}
