@import "./config";

.card-title {
	font-family: $primary-font;
}

.btn-container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

.button-wrapper {
	.btn {
		background-color: #8ebf42;
		border-radius: 5px;
	}
	input {
		color: $white;
	}
}

.card .card-action {
	padding: 16px 16px;
}

.submit-container {
	text-align: center;
	padding: 1rem;
	.submit-btn {
		font-size: 14px;
		color: white;
		background-color: #8dbf42;
		border-radius: 5px;
		text-transform: uppercase;
		border: none;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
			0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
		padding: 15px 10px;
		cursor: pointer;
		&:hover {
			box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
				0 1px 7px 0 rgba(0, 0, 0, 0.12),
				0 3px 1px -1px rgba(0, 0, 0, 0.2);
		}
	}
}

.progress {
	background-color: #8dbf4270;
	height: 6px;
	border-radius: 10px;
	.determinate {
		background-color: #8ebf42;
	}
}

.gallery {
	padding-bottom: 100px;
}

.gallery-items {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.gallery-items li {
	flex: 50%;
	max-width: 25%;
	padding: 10px;
}
