@import "./config";

.btn-container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	position: relative;
}
input[type="file"] {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 2px;
	font-size: 14px;
	color: #b8b8b8;
	box-sizing: border-box;
}
.button-wrapper {
	position: relative;
	z-index: 2000;
}
.label-btn {
	position: relative;
	display: inline-block;
	padding: 12px 8px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #8ebf42;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.card-title {
	font-family: $primary-font;
}

.gallery-items {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.gallery-items img {
	position: relative;
	flex: 50%;
	width: 100%;
	max-width: 50%;
	padding: 10px;
}

// .gallery {
// 	display: flex;
// 	flex-wrap: wrap;
// 	padding: 0 4px;
// }

// .gallery-items {
// 	flex: 25%;
// 	max-width: 25%;
// 	padding: 0 4px;
// }

// .gallery-items img {
// 	width: 100%;
// 	padding: 10px;
// }

// @media screen and (max-width: 800px) {
// 	.gallery-items {
// 		flex: 50%;
// 		max-width: 50%;
// 	}
// }
// @media screen and (max-width: 600px) {
// 	.gallery-items {
// 		flex: 100%;
// 		max-width: 100%;
// 	}
// }
