@import "./config";

.card-title {
	font-family: $primary-font;
}

.btn-container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	position: relative;
}
input[type="file"] {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 1px;
	font-size: 14px;
	color: $white;
	box-sizing: border-box;
}
.button-wrapper {
	position: relative;
	z-index: 2000;
}
.label-btn {
	left: -1px;
	position: relative;
	display: inline-block;
	padding: 8px 10px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #8ebf42;
	font-size: 16px;
	color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.submit-container {
	text-align: center;
	padding: 1rem;
	.btn {
		font-size: 16px;
		background-color: #8ebf42;
		border-radius: 5px !important;
	}
}

progress {
	margin-top: 1rem;
	padding: 0.8rem;
	width: 100%;
}

progress[value]::-webkit-progress-bar {
	background-color: red;
}

.gallery-items {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.gallery-items li {
	flex: 50%;
	max-width: 25%;
	padding: 10px;
}
