@import "./navbar";
@import "./header";
@import "./home";
@import "./photos";
@import "./footer";

html,
body {
	margin: 0;
    background-color: #F7F7F7;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}

.main-body {
	max-width: 768px;
}
