@import "./navbar";
@import "./header";
@import "./home";
@import "./photos";
@import "./wow";
@import "./footer";

html,
body {
	margin: 0;
	background-color: #f7f7f7;
	height: 100%;
	position: relative;
}

.main-body {
	max-width: 768px;
}