@import "./navbar";
@import "./header";
@import "./home";
@import "./photos";
@import "./wow";
@import "./footer";

html,
body {
	margin: 0;
	background-color: #f7f7f7;
}

.main-body {
	max-width: 768px;
	margin-bottom: 200px;
}