@import "./navbar";
@import "./header";

html, body {
    margin: 0;
    height: 2000px;
    background-image: url(../Img/iStock-177492461.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}